<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>
<div class="showcase">
  <h1>Welcome to My <span class="green-text">Personal</span> Diary</h1>
  <p>Record Your Daily Life</p>
  <a href="/diary">Open Your Express Diary</a>
</div>

<%- include('./layout/Footer') %>
